.details-dialog {
    height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    width: 40vw;
    margin: 0 0 0 auto;
    font-size: 1em;
}

.details-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.cancel-button {
    border: none;
    background: transparent;
}

dialog a,
dialog a:visited {
    color: var(--black);
}

@media screen and (max-width:800px) {
    .details-dialog {
        max-width: 100vw;
        width: 100vw;
    }
}

@media screen and (max-width:500px) {
    .dialog__repo-card {
        flex-direction: column;
        flex-wrap: none;
        gap: 0.5em;
    }
}